/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #C8E8E0; /* new addition */
}

p {
    color: #376358; /* new addition */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #333333; /* new addition */
}
/* My Styles */
/* ----------------------------------------------------*/

/* Login page */
.my_tbl {
    display: inline-block;
    padding: 0.5em;
    border: 2px solid #5499c7;
}

.my_row {
    display: table-row;
}

.my_cell {
    display: table-cell;
    padding: 0.1em;
}

/* Nav bar */
.left-links {
    padding: 10px;
    flex: 80%;
}

.right-links {
    padding: 10px;
    flex: 10%;
}

/* Search page */
.search {
    padding: 0.5em;
    padding-inline: 15em;
    max-width: 65em;
}

.search-input {
    display: inline-block;
    border: 3px solid #2E937A;
    border-radius: 20px;
    padding: 0.5em;
    width: 100%;
    text-align: left;
}

/* Display product */
.productlist {
    padding: 0.5em;
    max-width: 65em;
}

.a-product {
    display: inline-block;
    width: 20em;
    border: none;
    border-radius: 25px;
    padding: 1em;
    margin: 0.2em;
    vertical-align: top;
    text-align: center;
    background-color: #ffffff;
}

img.product-img {
    width: 17em;
    object-fit: cover;
    border-radius: 25px;
    padding: 5px;
}

p.product-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #2E937A;
}

p.product-desc {
    font-size: 1em;
    text-align: left;
}

p.product-price {
    font-size: 1.3em;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #2E937A;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
}

    .button:hover {
        background-color: #1b5849;
    }

    .button:active {
        background-color: #1b5849;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        border: none;
        outline: none;
    }

/* Footer */
.footer-left-links {
    padding: 0.5em;
    float: left;
}

.footer-right-links {
    padding: 0.5em;
    float: right;
}