<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAShoppingCart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container">
                @if (Context.Request.Cookies["SessionId"] != null)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Search" asp-action="Index">HOME</a>

                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">LOGIN</a>

                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (Context.Request.Cookies["SessionId"] != null)
                {
                    <!--Nav bar left side-->
                    <div class="left-links">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item nav-link">Hello, ["Username"]</li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">My Purchases</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Logout" asp-action="Index">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--Nav bar right side-->
                    <div class="right-links">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index">
                                        <img src="/Images/cart.png" alt="Cart icon" />
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark">[2]</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }

                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-light">
        <div class="container">
            <div class="footer-left-links">
                <a class="text-light" asp-area="" asp-controller="Search" asp-action="Index">Home</a> - 
                Illustration by <a class="text-light" href="https://icons8.com/illustrations/author/60312013123f993d795ce208">Oleg Shcherba</a> from <a class="text-light" href="https://icons8.com/illustrations">Ouch!</a>
            </div>
            <div class="footer-right-links">
                <a href="web.whatsapp.com"><img src="/Images/wa.png" alt="Whatsapp icon" /></a>
                <a href="facebook.com"><img src="/Images/fb.png" alt="Facebook icon" /></a>
                <a href="mailto:"><img src="/Images/email.png" alt="Email icon" /></a>
            </div>
        </div>


    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
