@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="text-align:center">
    <div class="a-product">
        <div class="my_row">
            <div class="my_cell">
                <p class="product-name">Sign up successful!</p>
            </div>
        </div>
        <div class="my_row">
            <div class="my_cell">
                <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Login</a>
            </div>
        </div>
    </div>
</div>
